* {
  user-select: none;
  font-family: 'Silkscreen', cursive;
}


body {
  /* background-image: url(https://c.tenor.com/TUN36wlxyhMAAAAC/aesthetic-raining.gif); */
  /* background-image: url(https://pbs.twimg.com/media/DbzpBHtW4AAC5RC?format=jpg&name=4096x4096); */
  background-image: url(https://wallpapercave.com/wp/wp10513527.gif);
  background-repeat: no-repeat;
  background-size: cover;
}




.loficat {
  user-select: none;
  cursor: grab;
  /* margin-bottom: 10rem; */
  margin-top: 5rem;

}

.loficat:active {
  transform: scale(.95);
}

.progress-bar {
  align-items: baseline;
}




.neonText {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

/* .neonText {
  animation: flicker 4.5s infinite alternate;
  color: #fff;
} */

h1 {
  font-size: 4.2rem;
}

.outline {
  border: #dddddd solid 1px;
  border-radius: 4%;
}

.glass {
  /* background-color: rgba(73, 126, 108, 0.178); */
  background-color: #5b85e670;
  /* background-image: url(https://media4.giphy.com/media/sd02z8izkKGKNgnD3F/giphy.gif?cid=790b76112270740510bf0dc804b6071d743fa444229bf76d&rid=giphy.gif&ct=s); */
  /* background-image: url(https://media2.giphy.com/media/1gP0UvJKH9Hqc4EJAa/giphy.gif?cid=ecf05e47hzov7tdr0wlsz5njj1485fkk6ac3t8auy57d9dtt&rid=giphy.gif&ct=s); */
  background-position: center;

}


/* Flickering animation */
/* @keyframes flicker {

  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {

    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;

  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
} */

/* 
.border {

  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
} */